.table{
    padding: 5px;
    width:100%;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:32px;
    font-family: "Montserrat";
    color:mediumspringgreen;
}
.gap
{
    min-height: 3vh;
}
.in{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:22px;
    color:teal;
}
.topic{
    font-family: "Dancing Script";
    display: block;
    margin-top: 12vh;
    font-size: 10vh;
    padding-left: 30px;
    text-shadow: 1.4px 1.4px #5ea2dd;
    color:darkgreen;
}
.search{
    margin-left:80px;
}
/* new */
.searcc{
    display: flex;
    justify-content: center;
    width:60vw;
    padding-right:10vw;
}
.topinc{
    display: flex;
    justify-content: space-between;
    width:100vw;    
}


@media (max-width:750px){
    .head{
        font-size: 1.6vh;
    }
    .in{
        font-size: 1.5vh;
    }
    .topic{
        margin-top: 10vh;
        font-size: 8vh;
    }

}